In [3]:
from random import random
import pandas as pd
import numpy as np
import glob
import os
from setup import *


def get_update():
    list_of_files = glob.glob('./inc_guidebook/*') # * means all if need specific format then *.csv
    latest_file = max(list_of_files, key=os.path.getctime)
    df = pd.read_csv(latest_file, names = ['Judge ID','Poster ID','Presenter', 'Question Text', 'Question', 'Response','Date'])
#     display(df)
    return df

In [46]:
jf = pd.read_csv('judge_list.csv')
jf = jf[['RESPONSE ID', 'FIRST NAME', 'LAST NAME', 'NAME','INSTITUTION']]
df = get_update()
df = df.loc[df['Poster ID'].str.lower()=='8909932']
display(df)
# all_names = jf[['FIRST NAME', 'LAST NAME','NAME']]
all_names = jf['FIRST NAME'].str.lower().to_frame()
all_names['LAST NAME'] = jf['LAST NAME'].str.lower()
all_names['NAME'] = jf['NAME'].str.lower()
display(all_names)
submitted_names = (df.loc[df['Question']=='Feedback/Comments']['Response']).str.strip().str.lower().str.rsplit(' ', expand=True, n=1).reset_index(drop=True)
submitted_names['JUDGE ID'] = df.loc[df['Question']=='Feedback/Comments']['Judge ID'].reset_index(drop=True)#
submitted_names.columns = ['FIRST NAME', 'LAST NAME','JUDGE ID']
# display(all_names)
display(submitted_names)

merged = pd.merge(submitted_names, all_names, how = 'outer', indicator = True)
# display(merged)
print('MIGUEL IS HERE')
display(merged.loc[merged['FIRST NAME']=='miguel'])
both_names = merged[merged['_merge']=='both'][['NAME','JUDGE ID']]
not_in_all = merged[merged['_merge']=='left_only'][['FIRST NAME', 'LAST NAME','JUDGE ID']]
not_submitted = merged[merged['_merge']=='right_only'][['NAME','JUDGE ID']]

print('THESE NAMES HAVE BEEN SUBMITTED -AND- CROSS REFERENCED')
display(both_names.reset_index(drop=True))
print('THESE NAMES HAVE --NOT-- BEEN SUBMITTED')
display(not_submitted.reset_index(drop=True))
not_submitted.to_html(r'C:\Users\sw_hutyra\Google Drive\Pathways 2017\Judging and Awards Team\NOT_SUBMITTED.html')
print('THESE NAMES HAVE BEEN SUBMITTED BUT COULD NOT BE FOUND')
display(not_in_all.reset_index(drop=True))

# df = pd.read_csv('judges.csv')
# num = len(np.unique(df['Device ID']))
# judge_list = list(np.unique(df['Device ID']))
# print(num)
# ndf = pd.concat([df.loc[df['Device ID']== x].loc[df['Question Text']=='Feedback/Comments']['Response'] for x in judge_list])
# ndf = ndf.str.strip().str.rsplit(' ', expand=True, n=1)
# pd.merge(ndf,jf[['RESPONSE ID', 'LAST NAME']], left_on=1, right_on = 'LAST NAME')

,Judge ID,Poster ID,Presenter,Question Text,Question,Response,Date
108,17206999,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 04:06PM
135,17207695,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 03:53PM
139,17207695,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 03:52PM
183,17207457,8909932,"Rudder, Earl",157036,Poster Content,5: average,November 02 2017 03:34PM
195,17207522,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 03:28PM
199,17207473,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 03:22PM
200,17207188,8909932,"Rudder, Earl",157036,Poster Content,1 : very poor,November 02 2017 03:22PM
201,17207457,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 03:20PM
202,17124099,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 03:20PM
204,17207057,8909932,"Rudder, Earl",157036,Poster Content,2: poor,November 02 2017 03:06PM
209,17207248,8909932,"Rudder, Earl",157036,Poster Content,7: above average,November 02 2017 03:00PM
214,17207188,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 02:54PM
220,17207077,8909932,"Rudder, Earl",157036,Poster Content,4: slightly below average,November 02 2017 02:47PM
221,17207075,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 02:47PM
225,17207057,8909932,"Rudder, Earl",157036,Poster Content,7: above average,November 02 2017 02:46PM
238,17207001,8909932,"Rudder, Earl",157036,Poster Content,6: slightly above average,November 02 2017 02:39PM
264,17206818,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 02:25PM
283,17206740,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 02:18PM
343,17206520,8909932,"Rudder, Earl",157036,Poster Content,4: slightly below average,November 02 2017 01:58PM
347,17206516,8909932,"Rudder, Earl",157036,Poster Content,0: not acceptable,November 02 2017 01:57PM
369,17206400,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 01:50PM
377,17206372,8909932,"Rudder, Earl",157036,Poster Content,5: average,November 02 2017 01:48PM
407,17206135,8909932,"Rudder, Earl",157036,Poster Content,4: slightly below average,November 02 2017 01:27PM
408,17206081,8909932,"Rudder, Earl",157036,Poster Content,4: slightly below average,November 02 2017 01:21PM
409,17206060,8909932,"Rudder, Earl",157036,Poster Content,2: poor,November 02 2017 01:20PM
410,17205911,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 01:18PM
411,17124099,8909932,"Rudder, Earl",157036,Poster Content,9: great,November 02 2017 01:18PM
412,17205768,8909932,"Rudder, Earl",157036,Poster Content,10: exceptional,November 02 2017 01:18PM
413,17206029,8909932,"Rudder, Earl",157036,Poster Content,8: good,November 02 2017 01:17PM
414,17206027,8909932,"Rudder, Earl",157036,Poster Content,5: average,November 02 2017 01:16PM
...,...,...,...,...,...,...,...
4695,17204580,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 11:25AM
4696,17204637,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 11:25AM
4697,17204612,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 11:23AM
4698,17204580,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 11:20AM
4699,17204463,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 11:10AM
4700,17204465,8909932,"Rudder, Earl",144457,Judges Password,score,November 02 2017 11:09AM
4701,17204425,8909932,"Rudder, Earl",144457,Judges Password,score,November 02 2017 11:06AM
4702,17204376,8909932,"Rudder, Earl",144457,Judges Password,score,November 02 2017 11:02AM
4703,17204346,8909932,"Rudder, Earl",144457,Judges Password,Scire,November 02 2017 11:01AM
4704,17204341,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 11:01AM
4705,17204143,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 10:44AM
4706,17204123,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 10:43AM
4707,17204096,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 10:42AM
4708,17203374,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 09:35AM
4709,17203332,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 09:31AM
4710,17203172,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 09:20AM
4711,17202877,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 08:59AM
4712,17202769,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 08:48AM
4713,17202767,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 08:48AM
4714,17202759,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 08:47AM
4715,17202743,8909932,"Rudder, Earl",144457,Judges Password,Score,November 02 2017 08:45AM
4716,17124099,8909932,"Rudder, Earl",144457,Judges Password,Score,November 01 2017 02:31PM
4717,17196572,8909932,"Rudder, Earl",144457,Judges Password,Scrfc,November 01 2017 01:52PM
4718,17124099,8909932,"Rudder, Earl",144457,Judges Password,Score,November 01 2017 01:50PM
4719,17196572,8909932,"Rudder, Earl",144457,Judges Password,Scire,November 01 2017 01:48PM
4720,17195678,8909932,"Rudder, Earl",144457,Judges Password,Score,November 01 2017 12:22PM
4721,17195664,8909932,"Rudder, Earl",144457,Judges Password,score,November 01 2017 12:21PM
4722,17195678,8909932,"Rudder, Earl",144457,Judges Password,Score,November 01 2017 12:21PM
4723,17124099,8909932,"Rudder, Earl",144457,Judges Password,score,November 01 2017 12:21PM
4724,17195664,8909932,"Rudder, Earl",144457,Judges Password,score,November 01 2017 12:20PM

     FIRST NAME           LAST NAME                          NAME
0        mircea              agapie                agapie, mircea
1          weam          al-tameemi              al-tameemi, weam
2         lynal              albert                 albert, lynal
3         peter               ampim                  ampim, peter
4      ripendra                awal                awal, ripendra
5        rafael        bakhtavoryan          bakhtavoryan, rafael
6        pamela      barber-freeman        barber-freeman, pamela
7          vipa           bernhardt               bernhardt, vipa
8     angelique           blackburn          blackburn, angelique
9      jennifer  blevins-mcnaughton  blevins-mcnaughton, jennifer
10       thomas           burdenski             burdenski, thomas
11       joseph           burzynski             burzynski, joseph
12         venu           cheriyath               cheriyath, venu
13     weihsueh                chiu                chiu, weihsueh
14     victoria             chraibi             chraibi, victoria
15      caitlyn              cooper               cooper, caitlyn
16  christopher            copeland         copeland, christopher
17        hasan              coskun                 coskun, hasan
18        jesse            crawford               crawford, jesse
19         john                dean                    dean, john
20      sharece              downey               downey, sharece
21       huajun                 fan                   fan, huajun
22          tom        faulkenberry             faulkenberry, tom
23      deneece            ferrales             ferrales, deneece
24      vanessa               fiaud                fiaud, vanessa
25      shaukat             goderya              goderya, shaukat
26       karley                goen                  goen, karley
27      gaynell               greem                greem, gaynell
28       thomas              greene                greene, thomas
29     kimberly                guay                guay, kimberly
..          ...                 ...                           ...
63       robert                page                  page, robert
64          rex              pjesky                   pjesky, rex
65          ken            poenisch                 poenisch, ken
66      brandon               quaid                quaid, brandon
67        fawad                rauf                   rauf, fawad
68    stephanie           robertson          robertson, stephanie
69      corinna                ross                 ross, corinna
70        susan              rugari                 rugari, susan
71   myoung-gwi                ryou              ryou, myoung-gwi
72        yesim              saatci                 saatci, yesim
73       jarrod          schenewark            schenewark, jarrod
74     jennifer           schroeder           schroeder, jennifer
75         anja             schulze                 schulze, anja
76       safwat              shakir                shakir, safwat
77        chris                shao                   shao, chris
78       joanna                shaw                  shaw, joanna
79       angela            sikorski              sikorski, angela
80      brandon               smith                smith, brandon
81       rajani          srinivasan            srinivasan, rajani
82          tom             tallach                  tallach, tom
83         tara       tietjen-smith           tietjen-smith, tara
84       zdenek            tronicek              tronicek, zdenek
85         desi             vasquez                 vasquez, desi
86       kartik        venkataraman          venkataraman, kartik
87     catheryn             weitman             weitman, catheryn
88         mary              winton                  winton, mary
89        megan      wise de valdez         wise de valdez, megan
90        logan           yelderman              yelderman, logan
91     yolander          youngblood          youngblood, yolander
92       thomas             zawisza               zawisza, thomas

[93 rows x 3 columns]

      FIRST NAME     LAST NAME  JUDGE ID
0         kellie          cude  17215906
1        corinna          ross  17206305
2         jaylen         james  17214197
3            rex        pjesky  17206355
4         delete          nagy  17213831
5              a         huang  17213803
6          izhar          khan  17206206
7    christopher      copeland  17213575
8          steve        merwin  17206368
9       t. wayne    schwertner  17208247
10        miguel        moreno  17205846
11        thomas       zawisza  17208100
12          andy       hilburn  17208077
13      ripendra          awal  17206999
14     donald g.       mcgahan  17207695
15          john          dean  17207457
16          anja       schulze  17207522
17          good          None  17207188
18      pptional          None  17207457
19      optional          None  17124099
20          weam    al-tameemi  17207057
21          matt     hallgarth  17207248
22       sumalai    maroonroge  17207188
23     angelique     blackburn  17207077
24          desi       vasquez  17207075
25          weam    al-tameemi  17207057
26          john       kilburn  17207001
27        eileen  faulkenberry  17206818
28      yolander    youngblood  17206740
29      victoria       chraibi  17206520
..           ...           ...       ...
89         susan        rugari  17205163
90        karley          goen  17205111
91         steve        merwin  17204895
92      trinette         jones  17204732
93   madhurababu         kunta  17204641
94         jerry         jones  17204580
95        jaylen         james  17204637
96         izhar          khan  17204612
97         jerry         jones  17204580
98           joe          mann  17204463
99       caitlyn        cooper  17204465
100        hasan        coskun  17204425
101       rafael  bakhtavoryan  17204376
102         venu     cheriyath  17204346
103     jennifer     schroeder  17204341
104        david        kattea  17204143
105          rex        pjesky  17204123
106      vanessa         fiaud  17204096
107       jarred       sumpter  17203374
108       jarrod    schenewark  17203332
109   myoung gwi          ryou  17203172
110         mary        winton  17202877
111        chris          shao  17202769
112    stephanie     robertson  17202767
113          sue        joiner  17202759
114         anne     mcfarland  17202743
115     optional          None  17124099
116       taylor        hutyra  17195664
117         test          None  17124099
118       taylor        hutyra  17195664

[119 rows x 3 columns]

MIGUEL IS HERE

   FIRST NAME LAST NAME  JUDGE ID            NAME _merge
15     miguel    moreno  17205846  moreno, miguel   both
16     miguel    moreno  17205846  moreno, miguel   both

[2 rows x 5 columns]

THESE NAMES HAVE BEEN SUBMITTED -AND- CROSS REFERENCED

                      NAME  JUDGE ID
0            ross, corinna  17206305
1            ross, corinna  17205723
2            james, jaylen  17214197
3            james, jaylen  17204637
4              pjesky, rex  17206355
5              pjesky, rex  17204123
6              khan, izhar  17206206
7              khan, izhar  17204612
8    copeland, christopher  17213575
9           moreno, miguel  17205846
10          moreno, miguel  17205846
11         zawisza, thomas  17208100
12           hilburn, andy  17208077
13          awal, ripendra  17206999
14              dean, john  17207457
15           schulze, anja  17207522
16        al-tameemi, weam  17207057
17        al-tameemi, weam  17207057
18    blackburn, angelique  17207077
19           vasquez, desi  17207075
20           kilburn, john  17207001
21    youngblood, yolander  17206740
22       chraibi, victoria  17206520
23          agapie, mircea  17206516
24  barber-freeman, pamela  17206372
25      srinivasan, rajani  17206135
26            hill, edward  17206081
27              jiang, mei  17206060
28             rauf, fawad  17206027
29           albert, lynal  17206013
..                     ...       ...
53          quaid, brandon  17205527
54          guay, kimberly  17205477
55          chiu, weihsueh  17205446
56       faulkenberry, tom  17205424
57            lewis, sally  17205374
58         downey, sharece  17205347
59        goderya, shaukat  17205270
60    venkataraman, kartik  17205263
61          greene, thomas  17205260
62       burzynski, joseph  17205222
63      kunta, madhurababu  17205214
64      kunta, madhurababu  17204641
65        sikorski, angela  17205212
66           rugari, susan  17205163
67            goen, karley  17205111
68         jones, trinette  17204732
69            jones, jerry  17204580
70            jones, jerry  17204580
71         cooper, caitlyn  17204465
72           coskun, hasan  17204425
73    bakhtavoryan, rafael  17204376
74         cheriyath, venu  17204346
75     schroeder, jennifer  17204341
76          fiaud, vanessa  17204096
77      schenewark, jarrod  17203332
78            winton, mary  17202877
79             shao, chris  17202769
80    robertson, stephanie  17202767
81             joiner, sue  17202759
82         mcfarland, anne  17202743

[83 rows x 2 columns]

THESE NAMES HAVE --NOT-- BEEN SUBMITTED

                            NAME JUDGE ID
0   blevins-mcnaughton, jennifer      NaN
1                 greem, gaynell      NaN
2             hallgarth, matthew      NaN
3                    hibbs, mike      NaN
4                  huang, arthur      NaN
5                   huber, tonya      NaN
6                  kattes, david      NaN
7            lancaster, jennifer      NaN
8                 merwin, steven      NaN
9                    muir, james      NaN
10                murray, darrel      NaN
11                  musa, sarhan      NaN
12                     nagy, del      NaN
13                 poenisch, ken      NaN
14              ryou, myoung-gwi      NaN
15                 saatci, yesim      NaN
16             weitman, catheryn      NaN
17         wise de valdez, megan      NaN

[18 rows x 2 columns]

THESE NAMES HAVE BEEN SUBMITTED BUT COULD NOT BE FOUND

       FIRST NAME     LAST NAME  JUDGE ID
0          kellie          cude  17215906
1          delete          nagy  17213831
2               a         huang  17213803
3           steve        merwin  17206368
4           steve        merwin  17204895
5        t. wayne    schwertner  17208247
6       donald g.       mcgahan  17207695
7            good          None  17207188
8        pptional          None  17207457
9        optional          None  17124099
10       optional          None  17124099
11       optional          None  17124099
12           matt     hallgarth  17207248
13        sumalai    maroonroge  17207188
14         eileen  faulkenberry  17206818
15            jim          muir  17206400
16       logan a.     yelderman  17205911
17        kenneth      poenisch  17206029
18    sarhan musa           sco  17205886
19            jen     lancaster  17205820
20           ruby   mehrubeoglu  17205792
21           ruby   mehrubeoglu  17205792
22  megan wise de        valdez  17205724
23  could be more     organized  17205661
24           mike         hibbd  17205612
25         darrel       muurray  17205472
26    catheryn j.       weitman  17205435
27       jennifer       blevins  17205419
28        gaynell         green  17205224
29            joe          mann  17204463
30          david        kattea  17204143
31         jarred       sumpter  17203374
32     myoung gwi          ryou  17203172
33         taylor        hutyra  17195664
34         taylor        hutyra  17195664
35           test          None  17124099

[36 rows x 3 columns]